.hero-area{
    background-image: url('../../../Assets/images/bannerbackground.png');
    height: 70vh;
    background-size: cover;
}
.search-input{
    z-index:0 !important;
}
.search-btn{
    z-index: 2;
}